.btn-reserve .btn-primary {
    display: block;
    width: 85%;
    margin: 0 auto;
    background:#f4476b;
    border:none;
    border-radius:4px;
    padding:11px;
    box-shadow:none;
    margin-top:26px;
    text-shadow:none;
    outline:none !important;
}

.btn-reserve form .btn-primary:hover, .btn-reserve form .btn-primary:active {
    background:#eb3b60;
}